html{
	height: 100vh;
	font-family: 'Exo 2', sans-serif;
	color: darkblue;
	background-color: lavender;
}
body{
	display: grid;
	grid-template-areas: 	"header"
							"formulario"
							"footer";
	grid-template-rows: 1fr 10fr auto;
	align-items: center;
	font-size: large;
	position: absolute;
	width: 100%;
	height: 100vh;
	margin: 0;
}
header{
	grid-area: header;
	background-color: lightsteelblue;
	text-align: center;
}
main{
    grid-area: formulario;
    display: flex;
    justify-content: center;
	background-color: lavender;
}
form{
    border: 2px solid blueviolet;
	width: 35%;
	text-align: left;
	display: flex;
	flex-direction: column;
	padding: 2%;
	height: 100%;
	margin: 2% 0 2% 0;
}
.form-item{
    margin: 2%;
	display: flex;
	flex-direction: column;
}
.form-item label{
	padding-right: 5%;
}
.form-item input,.form-item select{
	background-color: aliceblue;
	border-color: skyblue;
}
.form-item select{
	cursor: pointer;
}
.error{
	color: red;
	position: relative;
	top: 5px;
	text-align: right;
}
.form-item:last-child{
	flex-direction: row;
}
form small{
    text-align: end;
	padding-right: 4%;
}
.btn{
	width: 50%;
	margin: 5% 2% 0 2%;
	font-size: medium;
	font-weight: bold;
	padding: 1%;
	cursor: pointer;
	transition: 500ms ease-in-out;
}
.btn:hover{
    box-shadow: 4px 4px 15px 1px lightsteelblue, 7px 7px 15px 1px lightblue;
}
footer{
	grid-area: footer;
	background-color: lightsteelblue;
	text-align: center;
	display: flex;
	justify-content: center;
}
footer a{
	width: 100%;
	margin: 0.5%;
}
footer button{
	background-color: darkblue;
	color: aliceblue;
	height: 40px;
	width: 30%;
	font-size: large;
	cursor: pointer;
	/*font-family: 'Lato',sans-serif;*/
	font-family: 'Exo 2', sans-serif;
	box-shadow: 0 0 5px blueviolet;
	border-color: skyblue;
	transition: background-color 400ms linear;
}
footer button:hover{
    background-color: cornflowerblue;
    color: darkblue;
}
@media (max-width:768px) {
    form{
		width: 50%;
	}
}
@media (max-width:576px) {
    form{
		width: 70%;
	}
}
@media (max-width:320px) {
    header{
        font-size: small;
    }
	main{
		height: 80vh;
	}
    form{
		width: 90%;
		margin: 0;
		padding: 0;
		height: 90%;;
	}
    footer{
        font-size: small;
        font-weight: initial;
    }
}