html{
	height: 100vh;
	/*font-family: 'Lato',sans-serif;*/
	font-family: 'Exo 2', sans-serif;
	color: darkblue;
	background-color: lavender;
}
body{
	display: grid;
	grid-template-areas: 	"header"
							"contenido"
							"footer";
	grid-template-rows: 1fr 10fr auto;
	align-items: center;
	font-size: large;
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
}
header{
	grid-area: header;
	background-color: lightsteelblue;
	text-align: center;
}
main{
	grid-area: contenido;
	background-color: lavender;
	display: grid;
	grid-template-areas: "lista info";
	grid-template-columns: 80vw auto;
	align-items: center;
}
.lista{
	height: 80vh;
	width: 100%;
	position: relative;
	/*max-height: 100%;*/
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	/*flex-wrap: wrap;*/
}
ol {
	counter-reset: item;
	font-weight: bold;
	/*padding-right: 30%;*/
	display: flex;
	/*flex-flow: wrap column;*/
	align-content: center;
	/*position: relative;
	margin: 0;
	padding: 0;*/
	flex-wrap: wrap;
	flex-direction: column;
	/*width: 90%;*/
	height: 95%;
	justify-content: center;
	/*flex: 1 1 0;*/
}
li{
	list-style: none;
	position: relative;
	/*display: block;*/
	padding: 0 0 0.5rem 3rem;
	margin: 0.7rem;
	background: aliceblue;
	color: darkblue;
	border-radius: 10px;
	/*flex: 0 1 auto;*/
	width: 20rem;
	height: 1rem;
	/*float: left;*/
}
li:before{
	content: counter(item);
	counter-increment: item;
	position: absolute;
	left: -1%;
	/*top: -10%;*/
	margin-top: -3%;
	background-color: blueviolet;
	height: 35px;
	width: 35px;
	line-height: 190%;	
	border: 3px solid aliceblue;
	text-align: center;
	border-radius: 20px;
	color:aliceblue;
	/*padding-top: 2px;*/
	font-weight: bold;
}
li p{
	margin: 0;
}
.intro{
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.intro img{
	width: 50%;
	border-radius: 10px;
	box-shadow: 0 0 15px blueviolet;
	padding: 20%;
	margin: 10%;
	/*animation: notification 2s infinite;*/
}
/*@keyframes notification{
	5% { transform: rotate(10deg); }
	10% { transform: rotate(-10deg); }
	15% { transform: rotate(10deg); }
	20% { transform: rotate(-10deg); }
}*/
.intro h1{
	margin: 1%;
	font-size: 150%;
}
footer{
	grid-area: footer;
	background-color: lightsteelblue;
	text-align: center;
	display: flex;
	justify-content: center;
}
footer a{
	width: 100%;
	margin: 0.5%;
}
footer button{
	background-color: darkblue;
	color: aliceblue;
	height: 40px;
	width: 30%;
	font-size: large;
	cursor: pointer;
	/*font-family: 'Lato',sans-serif;*/
	font-family: 'Exo 2', sans-serif;
	box-shadow: 0 0 2px blueviolet;
	border-color: skyblue;
}
footer button:hover{
    background-color: cornflowerblue;
    color: darkblue;
}
@media (max-width:1100px) {
	.container{
		display: inherit;
	}
	.intro {
		margin-left: -4%;
	}
	.intro img {
  		visibility:hidden;
	}
}