body{
	background-color: #092346;
	height: 100%;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	color: #FFFFFF;
	/*padding: 0 15%;*/
	font-size: large;
	position: absolute;
	width: 100%;
	/*top: 50%;
	transform: translateY(-50%);*/
}
.lista{
	height: 90%;
	width: 80%;
	position: relative;
	/*max-height: 100%;*/
}
.intro{
	text-align: center;
	width: 20%;
	/*text-align: right;
	width: 30%;
	margin-right: 10%;
	margin-left: -10%;*/
}
.intro img{
	width: 50%;
	border-radius: 10px;
	box-shadow: 0 0 10px #FFFFFF;
	padding: 20px;
	margin: 1%;
	/*animation: notification 2s infinite;*/
}
/*@keyframes notification{
	5% { transform: rotate(10deg); }
	10% { transform: rotate(-10deg); }
	15% { transform: rotate(10deg); }
	20% { transform: rotate(-10deg); }
}*/
.intro h1{
	margin: 1%;
	font-size: 150%;
}
ol {
	counter-reset: item;
	font-weight: bold;
	/*padding-right: 30%;*/
	display: flex;
	flex-flow: wrap column;
	height: 100%;
	align-content: center;
}
li{
	list-style: none;
	position: relative;
	/*display: block;*/
	padding: 0.5% 150px 0.5% 35px;
	margin: 5px 10px;
	background: #FFFFFF;
	color: #092346;
	border-radius: 10px;
	width: 20%;
}
li:before{
	content: counter(item);
	counter-increment: item;
	position: absolute;
	left: -4%;
	top: -10%;
	/*margin-top: -3%;*/
	background: #87CEEB;
	height: 35px;
	width: 35px;
	line-height: 190%;	
	border: 3px solid #FFFFFF;
	text-align: center;
	border-radius: 20px;
	color:#FFFFFF;
	/*padding-top: 2px;*/
	font-weight: bold;
}
@media (max-width:1100px) {
	.container{
		display: inherit;
	}
	.intro {
		margin-left: -4%;
	}
	.intro img {
  		visibility:hidden;
	}
}