html{
	height: 100vh;
    /*font-family: 'Lato',sans-serif;*/
    font-family: 'Exo 2', sans-serif;
    color: darkblue;
    background-color: lavender;
}
body{
	display: grid;
	grid-template-areas: 	"header"
							"calendario"
							"footer";
	grid-template-rows: 1fr 10fr auto;
	align-items: center;
	font-size: large;
	position: absolute;
	width: 100%;
	height: 100vh;
	margin: 0;
}
header{
	grid-area: header;
	background-color: lightsteelblue;
	text-align: center;
}
main{
    grid-area: calendario;
    display: flex;
    justify-content: center;
    background-color: lavender;
}
.calendario{
    padding: 0;
    position: relative;
    width: 50%;
    background-color: lavender;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.calendario .encabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
h2{
    text-transform: uppercase;
}
.btn-ant,.btn-prox{
    position: relative;
    height: 32px;
    width: 32px;
    line-height: 30px;
    border: 2px solid midnightblue;
    box-shadow: 0 0 3px blueviolet;
    border-radius: 50%;
    color: midnightblue;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.btn-ant:hover,.btn-prox:hover{
    background-color: blueviolet;
    color: skyblue;
}
.calendario table{
    border-collapse: collapse;
    box-shadow: 0 0 5px blueviolet;
    margin: 1%;
}
.calendario thead{
    background-color: aliceblue;
    font-weight: 600;
    text-transform: uppercase;
    border-top: 2px solid blueviolet;
    border-bottom: 2px solid blueviolet;
}
.calendario thead td{
    height: 67.4px;
}
.calendario thead td:first-child{
    border-left: 2px solid blueviolet;
}
.calendario thead td:last-child{
    border-right: 2px solid blueviolet;
}
.calendario td{
    border: 1px solid darkblue;
    height: 71.4px;
    text-align: center;
    width: 71.4px;
}
.calendario tbody td{
    cursor: pointer;
}
.calendario tbody td:hover{
    background-color: lightsteelblue; 
    color: blueviolet;
}
.calendario table .dia-actual{
    background-color: darkblue;
    color: aliceblue;
}
.calendario .mes-ant, .calendario .mes-post{
    color: skyblue;
}
.calendario .mes-ant:hover, .calendario .mes-post:hover{
    background-color: darkgray;
    color: dimgray ;
}
.event{
    position: relative;
}
.event:after{
    content: '';
    width: 7px;
    height: 7px;
    left: 50%;
    bottom: 7px;
    margin: -3.5px 0 0 -3.5px;
    background-color:lightpink;
    display: block;
    position: absolute;
    border-radius: 50%;
}
.event:hover::after{
    background-color: hotpink;
}
.event.dia-actual:after{
    background-color: hotpink;
}
.calendario pie{
    margin-top: -5%;
}
footer{
	grid-area: footer;
	background-color: lightsteelblue;
	text-align: center;
	display: flex;
	justify-content: center;
}
footer a{
	width: 100%;
	margin: 0.5%;
}
footer button{
	background-color: darkblue;
	color: aliceblue;
	height: 40px;
	width: 30%;
	font-size: large;
	cursor: pointer;
	/*font-family: 'Lato',sans-serif;*/
	font-family: 'Exo 2', sans-serif;
	box-shadow: 0 0 2px blueviolet;
	border-color: skyblue;
}
footer button:hover{
    background-color: cornflowerblue;
    color: darkblue;
}