body{
    background-color: darksalmon;
    display: grid;
    grid-template-areas:    "header header"
                            "menu parrafo"
                            "imagen imagen"
                            "footer footer";
}
header{
    grid-area: header;
}
nav{
    grid-area: menu;
}
section .presentacion{
    grid-area: parrafo;
    grid-template-columns: 1fr 2fr;
}
section img{
    grid-area: imagen;
}
footer{
    grid-area: footer;
}