body{
    background-color: darksalmon;
    display: grid;
    grid-template-areas:    "header header"
                            "menu contenido"
                            "footer footer";
}
header{
    grid-area: header;
    background-color: darkseagreen;
}
nav{
    grid-area: menu;
    background-color: darkkhaki;
}
main{
    grid-area: contenido;
    display: grid;
    grid-template-areas:    "descripcion"
                            "imagen";
}
.presentacion{
    grid-area: descripcion; 
    background-color: darkslateblue;
    display: grid;
    grid-template-columns: 1fr 2fr;
    color:blanchedalmond;
}
section img{
    grid-area: imagen;
    width: 100%;
}
footer{
    grid-area: footer;
}