html{
	height: 100vh;
	font-family: 'Exo 2', sans-serif;
}
body{
	background-color: #092346;
	display: grid;
	grid-template-areas: 	"header"
							"formulario"
							"footer";
	grid-template-rows: 1fr 10fr auto;
	align-items: center;
	color: #FFFFFF;
	font-size: large;
	position: absolute;
	width: 100%;
	height: 100vh;
	margin: 0;
}
header{
	grid-area: header;
	background-color: darkblue;
	text-align: center;
}
main{
    grid-area: formulario;
    display: flex;
    justify-content: center;
}
form{
    border: 2px solid darksalmon;
	width: 25%;
	text-align: left;
	display: flex;
	flex-direction: column;
	padding: 5%;
}
.form-item{
    margin: 2%;
	display: flex;
	flex-direction: column;
}
.form-item label{
	padding-right: 5%;
}
.error{
	color: red;
	position: relative;
	top: 5px;
	text-align: right;
}
.form-item:last-child{
	flex-direction: row;
}
form small{
    text-align: end;
}
.btn{
	width: 50%;
	margin: 5% 2% 0 2%;
	font-size: medium;
	font-weight: bold;
	padding: 1%;
	cursor: pointer;
}
footer{
	grid-area: footer;
	background-color: blueviolet;
	text-align: center;
	
}
footer button{
	background-color: cornflowerblue;
	height: 40px;
	width: 30%;
	font-size: large;
	cursor: pointer;
}
@media (max-width:1100px) {
	.container{
		display: inherit;
	}
	.intro {
		margin-left: -4%;
	}
	.intro img {
  		visibility:hidden;
	}
}